
    body {
        background-color: #0D47A1;
    }
    .lightblue-bg {
        background-color: lightblue;
    }
    .navbar-nav .nav-item .nav-link {
        color: black;
    }
    .navbar-nav .nav-item .nav-link:hover {
        color:  #0D47A1; 
    }

    .card-img-top {
        width: 100px;
        height: 100px;
    }
    .carousel-inner {
        width: 100;
        height: 100;
    }

    .carousel-item {
        height: 100vh;
    }
    .carousel-item img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .carousel-caption  h1, 
    .carousel-caption  p {
        color:white;
    }

   h1, h2, h5 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
   }

   .logo a  {
    text-align: center;
    margin: 0 20px;
}

.logo {
    margin-top: 250px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.end  {
    
    margin-top: 40px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    margin-bottom:20px;
}

